body {
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 5%;
    width: 17%;
    margin-top: 15%;

    display: block;
    justify-content: center;
    align-items: center;
}

.icon-star {
    background-color: hsl(213, 19%, 21%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 8%;
}
.texts {
    display: block;
    justify-content: center;
    align-items: center;

    margin: 8% 8% 2% 8%;
}

#title {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: hsl(0, 0%, 100%);
}

#text {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: hsl(217, 12%, 63%);
}

.flex-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.rating {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: hsl(217, 12%, 63%);

    background-color: hsl(213, 19%, 21%);
    width: 35px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: hsl(25, 97%, 53%); /* Green */
    border: none;
    border-radius: 25px;

    color: hsl(0, 0%, 100%);
    
    margin: 7%;
    padding-top: 3%;
    padding-bottom: 3%;;

    text-align: center;
    text-decoration: none;
    display: inline;
    width: 87%;
}