body {
    background-color: hsl(216, 12%, 8%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: inherit;
}

.container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 5%;
    height: 15%;
    width: 15%;
    margin-top: 15%;
}

.icon-star {
    background-color: hsl(213, 19%, 18%);
    opacity: 0.5;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

#text {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
}

.rating {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
}